:root {
  --main-bg-color: #4b6952;
  --main-bg-color-light: #699373;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/lato-semibold.ttf') format('ttf');
}

.header {
  margin: 0rem;
  background-color: var(--main-bg-color);
  color: white;
  overflow: hidden;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
  background-color: #1a1b1e;
  min-width: 350px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
  margin-bottom: 0px;
}

hr {
  height: 1px;
  border-color: #a3a3a3;
}

section {
  margin-bottom: 4rem;
}

p {
  font-size: 18px;
}

#main-body {
  margin: auto;
  color: white;
  max-width: 700px;
  padding: 1rem;
}

#image-body {
  margin: auto;
  color: white;
  max-width: 600px;
  padding: 1rem;
}

#title {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  margin-top: 0rem;
  padding-top: 2rem;
}

#description {
  font-size: 2rem;
  text-align: center;
}

.image {
  margin-top: 2rem;
  border-radius: 1rem;
  height: auto;
  width: 100%;
}

.copy-link {
  display: flex;
  width: 100%;
  max-width: 550px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 44px;

  a {
    color: #ffffff;
    padding: 0.5rem;
    padding-left: 1rem;
    display: block;
    text-decoration: none;
  }
}

.copy-link-input {
  background-color: #1a1b1e;
  color: #fff;
  flex-grow: 1;
  padding: 0 1rem;
  font-size: 16px;
  border: 2px solid #767676;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: none;
  outline: none;
}

.copy-link-input:hover {
  background: #3d3d3d;
  border: 2px solid #b9b9b9;
}

.copy-link-button {
  flex-shrink: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-bg-color);
  color: #333333;
  outline: none;
  border: 2px solid #767676;
  cursor: pointer;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.copy-link-button:hover {
  background: #8c8c8c;
  border: 2px solid #b9b9b9;
}

.white-icon {
  color: #fff;
  font-size: 1.4rem;
}

.social-icon {
  margin-right: 0.25rem;
  font-size: 30px;
}

.display {
  color: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

.font-display {
  background-color: #313131;
  border: 1px solid #b9b9b9;
  max-width: 300px;
  margin: auto;
  margin-bottom: 1rem;
}

.font-display:hover {
  background: #5d5d5d;
}

.font-montserrat {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-semibold.ttf') format('ttf');
}

.font-roboto {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-regular.ttf') format('ttf');
}

.font-roboto {
  font-family: 'Roboto';
  src: url('/assets/fonts/lora-semibold.ttf') format('ttf');
}

.social-link {
  background-color: var(--main-bg-color);
  border: 3px solid transparent;
}

.social-link:hover {
  border: 3px solid #fff;
  background: var(--main-bg-color-light);
}
